/* ===== Header Geral ===== */
:host {
  width: 100%;
  display: block;
  font-family: "Poppins", sans-serif;
}

/* ===== Faixa verde do topo ===== */
.top-bar {
  width: 100%;
  height: 50px;
  background-color: #A7E5D2;
}


/* ===== Caixa Meu Perfil ===== */

.top-bar {
  display: flex;
  justify-content:flex-end;
  align-items: center;
  padding: 200 16px;
  background-color: #A7E5D2;
  position: relative;
}

.perfil-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #00c853;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 16px;
}

.perfil-box:hover {
  background-color: #009624;
  transform: scale(1.1);
}

.perfil-icon {
  font-size: 18px;
}

/* Texto escondido inicialmente */
.perfil-text {
  position: absolute;
  right: 40px;
  background-color: #333;
  color: #fff;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  transform: translateX(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}

/* Mostra o texto no hover */
.perfil-box:hover .perfil-text {
  opacity: 1;
  transform: translateX(0);
}





/* ===== Navbar ===== */
.navbar {
  width: 100%;
  height: 85px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
  padding: 0 60px;
  box-sizing: border-box;
}

.logo img {
  height: 55px;
}

/* LINKS PRINCIPAIS */
.nav-links {
  display: flex;
  align-items: center;
  gap: 55px;
}

.navbar a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

.navbar a:hover,
.navbar a.active {
  text-decoration: underline;
}

/* ===== Dropdown Treinos ===== */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  top: calc(100% + 6px);
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  min-width: 220px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.12);
  padding: 6px 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity .22s ease, transform .22s ease, visibility .22s;
  z-index: 999;
}

.dropdown-content a {
  display: block;
  padding: 10px 18px;
  color: #111;
  text-decoration: none;
  font-size: 15px;
}

.dropdown-content a:hover {
  background: #A7E5D2;
}

.dropdown:hover .dropdown-content,
.dropdown:focus-within .dropdown-content {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0);
}
