
:host {
  display: block;
  width: 100%;
  box-sizing: border-box;
}


.pagina {
  width: 100%;
  min-height: calc(100vh - 135px);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.pagina > * {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}
