<div class="container">
  <div class="form-box">
    <h2>Entrar</h2>

    <form [formGroup]="form" (ngSubmit)="entrar()">

      <!-- EMAIL -->
      <label for="email">E-mail</label>
      <div class="input-box">
        <span class="icon">📧</span>
        <input
          id="email"
          type="text"
          placeholder="E-mail"
          formControlName="email"
        />
      </div>

      <!-- Validação email -->
      <small
        *ngIf="form.controls['email'].touched && form.controls['email'].hasError('required')"
        style="color: red;"
      >
        O e-mail é obrigatório.
      </small>

      <small
        *ngIf="form.controls['email'].touched && form.controls['email'].hasError('email')"
        style="color: red;"
      >
        Insira um e-mail válido.
      </small>


      <!-- SENHA -->
      <label for="senha">Senha</label>
      <div class="input-box">
        <span class="icon">🔒</span>
        <input
          id="senha"
          type="password"
          placeholder="Password"
          formControlName="senha"
        />
      </div>

      <!-- Validação senha -->
      <small
        *ngIf="form.controls['senha'].touched && form.controls['senha'].hasError('required')"
        style="color: red;"
      >
        A senha é obrigatória.
      </small>

      <small
        *ngIf="form.controls['senha'].touched && form.controls['senha'].hasError('minlength')"
        style="color: red;"
      >
        A senha deve ter no mínimo 6 caracteres.
      </small>


      <div class="forgot">
        <a href="#">Esqueceu a senha?</a>
      </div>

      <button type="submit" class="btn">Entrar</button>

      <p class="register">
        Ou <a [routerLink]="['/register']">registre-se</a>
      </p>

      <!-- Erro retornado da API -->
      <p *ngIf="erroLogin" style="color: red; margin-top: 10px;">
        E-mail ou senha incorretos.
      </p>

    </form>
  </div>
</div>
