body {
  background-color: #c8e6c9;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

.sobre-container {
  max-width: 1200px;
  margin: 60px auto;
  text-align: center;
}

.titulo {
  font-size: 1.8rem;
  margin-bottom: 40px;
  color: #333;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}


.card {
  background: #fff;
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  opacity: 0;
  animation: fadeInUp 0.8s ease forwards;
}




.card:nth-child(1) { animation-delay: 0.2s; }
.card:nth-child(2) { animation-delay: 0.4s; }
.card:nth-child(3) { animation-delay: 0.6s; }
.card:nth-child(4) { animation-delay: 0.8s; }



.card:hover {
  transform: translateY(0) scale(1.08);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}


.icone {
  font-size: 32px;
  color: #00c853;
  margin-bottom: 15px;
  display: block;
}

.card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
}

.card p {
  font-size: 0.95rem;
  color: #555;
  line-height: 1.4;
}


@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* Responsivo */
@media (max-width: 768px) {
  .cards-grid {
    grid-template-columns: 1fr;
  }
}
